.about-article{
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    margin-left: 16%;
    margin-right: 16%;
    max-width: 1000px;
}

.about-article img{
    border-radius: 20px;
    width: 383px;
}

@media only screen and (max-width: 1330px){
    .about-article{
        flex-direction: column;
    }
}

@media only screen and (max-width:830px){

    .about-article{
        flex-direction: column;
        padding-top: 90px;
        margin-left: 66px;
        margin-right: 65px;
    }
    
    .about-article img{
        width: 140px;
    }

}