.header-nav a{
    text-decoration: none;
    font-family: 'Lekton', monospace;
    font-size: 20px;
    color: #E5D7EC;
    margin-left: 30px;
    transition: 0.5s;
}

.header-nav a::before{
    content: '>';
}

.header-nav a:hover{
    color: #91eeb0;
    text-shadow: 0 0 10px #91eeb0;
    font-size: 22px;
}

@media only screen and (max-width:830px){

    .header-nav{
        display: none;
    }

}