.main-project{
    border-radius: 20px;
    margin-bottom: 15px;
    margin-top: 35px;
    transition: 0.3s;
    width: 241px;
}

.main-project:hover{
    transform: scale(104%);
}

.main-project.this-website{
    box-shadow: 0px 0px 10px #C958FE;;
}

.main-project.doom-fire{
    box-shadow: 0px 0px 10px #fe5858;;
}

.main-project.lorem-ipsum{
    box-shadow: 0px 0px 10px #200d29;
    filter: invert(100%);
}

@media only screen and (max-width:830px){

    .main-project{
        width: 152px;
    }

}