.main-section.section-about{
    background-color: #0E1210;
}

.main-section.section-skills{
    background-image: url(../../assets/img/skills-background.png);
    background-size: cover;
}

.main-section.section-projects{
    background-color: #200D29;
}

.main-section.-contact{
    background-image: url(../../assets/img/contact-background.png);
    background-size: cover;
}