.main-logo{
    font-family: 'Monoton', monospace;
    font-size: 44px;
    color: #E5D7EC;
}

body{
    background-color: #000;
}

.-mobile{
    display: none;
}

@media only screen and (max-width:830px){
    .main-logo.-desktop{
        display: none;
    }

    .main-logo.-mobile{
        display: inline;
    }

}