.main-header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-wrapper{
    display: flex;
    margin: 68px 86px 0 86px;
    justify-content: space-between;
}

@media only screen and (max-width:830px){

    .main-header{
        width: fit-content;
    }

    .header-wrapper{
        margin: 26px 24px; 
    }
}