.title-box{
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}

.title-box::before{
    content: "";
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
    filter: blur(px);
    background: inherit;
    z-index: -1;
}