.title-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    background-image: url(../../assets/img/title-background.png);
    background-repeat: repeat-x;
    height: 790px;
    background-attachment: fixed;
}